<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
</head>
<body>
    <style>
        .content
        {
            background-color: coral;
            border: solid 2px #000;
            border-radius: 8px;
            width: 300px;
            height: 300px;
            margin: 200px auto;

        }
        .content> input
        {
           font-size: 50px;
           margin-top: 100px;
           margin-left: 20px;
        }
    </style>
    <div class="content">
        <input  type="button"  name="sim" value="SIM">
        <input type="button"  name="nao" value="NAO">
    </div>

</body>
</html>